body {
	background-color: rgb(30, 30, 30);
}

nav {
	background-color: #555555;
}

#deck, #friends, #store, #options {
	width: 1000px;
}

.logged .button-flat {
	color: white;
	color: rgb(30, 30, 30)
}

.modal, .tabs .tab a, .modal .modal-footer, .side-nav {
	background-color: rgba(219, 219, 219, 1);
}

.side-nav li div {
	padding-left: 15px;
}

.card {
	background-color: rgb(62, 62, 66);
	transition: all .3s ease-out;
}

.card .card-action {
	padding: 10% 0px 10% 0;
	height: 7em;
	font-size: 80%;
}

.card .card-action a {
	cursor: default;
	margin: initial;
}

.welcome {
	transition: all .3s ease-out;
}

.welcome:hover {
	background-color: initial;
}