body {
	background-color: rgb(30, 30, 30);
}

nav {
	background-color: #555555;
}

#deck, #friends, #store, #options {
	width: 1000px;
}

.logged .button-flat {
	color: white;
	color: rgb(30, 30, 30)
}

.side-nav li div {
	padding-left: 15px;
}

.side-nav {
	background-color: rgba(219, 219, 219, 1);
}

.card {
	background-color: rgb(62, 62, 66);
}

.card-action a {
	cursor: default;
}